<link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
<div class='row justify-content-center'>
    <div class='col-4' align='center'>
        <div class="alert alert-light" role="alert">
            Create new bid
        </div>
        <form action="/bid">
            <div class="form-group">
                <p><input class="form-control" type="text" placeholder="Enter seller's ID here" name="sellerID"></p>
                <p><input class="form-control" type="text" placeholder="Enter buyer's ID here" name="buyerID"></p>
                <p><input class="form-control" type="text" placeholder="Enter product ID here" name="buyerProductID"></p>
                <p><input class="form-control" type="text" placeholder="Enter bid here" name="bid"></p>
                <button type="submit" class="btn btn-outline-primary btn-block" id="submit">Create</button>
            </div>
        </form>
    </div>
</div>