<link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
<div class='row justify-content-center'>
    <div class='col-4' align='center'>
        <div class="alert alert-light" role="alert">
            Create new buyer
        </div>
        <form action="/buyer">
            <div class="form-group">
                <p><input class="form-control" type="text" placeholder="Enter buyer's name here" name="buyerName"></p>
                <p><input class="form-control" type="text" placeholder="Enter buyer's phone here" name="buyerPhone"></p>
                <p><input class="form-control" type="text" placeholder="Enter buyer's address here" name="buyerAddress"></p>
                <p><input class="form-control" type="text" placeholder="Enter buyer's registration number" name="buyerRegNumber"></p>
                <button type="submit" class="btn btn-outline-primary btn-block" id="submit">Create</button>
            </div>
        </form>

    </div>
</div>