<link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
<div class='row justify-content-center'>
    <div class='col-4' align='center'>
        <div class="alert alert-light" role="alert">
            Create new product
        </div>
        <form action="/product">
            <div class="form-group">
                <p><input class="form-control" type="text" placeholder="Enter product name here" name="productName"></p>
                <p><input class="form-control" type="text" placeholder="Enter product category here" name="productCategory"></p>
                <p><input class="form-control" type="text" placeholder="Enter product price" name="productPrice"></p>
                <p><input class="form-control" type="text" placeholder="Enter seller's ID" name="sellerID"></p>
                <button type="submit" class="btn btn-outline-primary btn-block" id="submit">Create</button>
            </div>
        </form>
    </div>
</div>