<link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
<div class='row justify-content-center'>
    <div class='col-4' align='center'>
        <div class="alert alert-light" role="alert">
            Create new seller
        </div>
        <form action="/seller">
            <div class="form-group">
                <p><input class="form-control" type="text" placeholder="Enter seller's name here" name="sellerName"></p>
                <p><input class="form-control" type="text" placeholder="Enter seller's phone here" name="sellerPhone"></p>
                <p><input class="form-control" type="text" placeholder="Enter seller's personal number" name="sellerRegNumber"></p>
                <button type="submit" class="btn btn-outline-primary btn-block" id="submit">Create</button>
            </div>
        </form>
    </div>
</div>